<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{ '/css/style.css' | relative_url }}">
  <link rel="icon" href="{{ '/images/favicon.svg' | relative_url }}">
</head>
<body>
  <header>
    <h1>
      <a href="{{ '/' | relative_url }}">Phil</a>
    </h1>

    <nav>
  <a href="{{ '/about/' | relative_url }}" class="{% if page.url == '/about/' %}active{% endif %}">About</a>
  <a href="{{ '/projects/' | relative_url }}" class="{% if page.url == '/projects/' %}active{% endif %}">Projects</a>
  <a href="{{ '/career/' | relative_url }}" class="{% if page.url == '/career/' %}active{% endif %}">Career</a>
  <a href="{{ '/writing/' | relative_url }}" class="{% if page.url == '/writing/' %}active{% endif %}">Writing</a>
  <a href="{{ '/posts/' | relative_url }}" class="{% if page.url == '/posts/' %}active{% endif %}">Posts</a>
</nav>
  </header>

  <main>
    {{ content }}
  </main>
</body>
</html>